TDK_Marketing_Intelligence_Workflow1.json
{
  "name": "TDK_Marketing_Intelligence_Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "7014a4cb-bf00-4c0c-9596-cc0c0bf3954c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.campaign_id,\n  c.campaign_name,\n  c.channel,\n  c.budget_allocated,\n  c.status,\n  c.target_region,\n  SUM(ms.amount_spent) as total_spent,\n  SUM(ms.impressions) as total_impressions,\n  SUM(ms.clicks) as total_clicks,\n  SUM(ms.conversions) as total_conversions\nFROM campaigns c\nLEFT JOIN marketing_spend ms ON c.campaign_id = ms.campaign_id\nGROUP BY c.campaign_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [208, 0],
      "id": "d0a163af-0ac3-4975-a15a-e33080fb8a57",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "YOUR_MYSQL_CREDENTIAL_ID",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.campaign_id,\n  c.campaign_name,\n  COUNT(l.lead_id) as total_leads,\n  AVG(l.lead_quality_score) as avg_lead_quality,\n  SUM(ce.event_value) as total_revenue\nFROM campaigns c\nLEFT JOIN leads l ON c.campaign_id = l.campaign_id\nLEFT JOIN conversion_events ce ON c.campaign_id = ce.campaign_id\nGROUP BY c.campaign_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [416, 0],
      "id": "86f270c4-2839-4c7c-84a7-84667dd6012a",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "YOUR_MYSQL_CREDENTIAL_ID",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spendData = $('Execute a SQL query').all();\nconst leadsData = $('Execute a SQL query1').all();\n\nlet tableRows = '';\n\nconst results = spendData.map(spend => {\n  const s = spend.json;\n  const lead = leadsData.find(l => l.json.campaign_id === s.campaign_id)?.json || {};\n\n  const totalSpent = parseFloat(s.total_spent) || 0;\n  const totalConversions = parseInt(s.total_conversions) || 0;\n  const totalClicks = parseInt(s.total_clicks) || 0;\n  const totalRevenue = parseFloat(lead.total_revenue) || 0;\n  const totalLeads = parseInt(lead.total_leads) || 0;\n  const avgQuality = parseFloat(lead.avg_lead_quality) || 0;\n\n  const CAC = totalConversions > 0 ? (totalSpent / totalConversions).toFixed(2) : 0;\n  const ROI = totalSpent > 0 ? (((totalRevenue - totalSpent) / totalSpent) * 100).toFixed(2) : 0;\n  const conversionRate = totalClicks > 0 ? ((totalConversions / totalClicks) * 100).toFixed(2) : 0;\n\n  tableRows += `\n    <tr>\n      <td>${s.campaign_name}</td>\n      <td>${s.channel}</td>\n      <td>${s.status}</td>\n      <td>$${s.budget_allocated}</td>\n      <td>$${totalSpent}</td>\n      <td>$${totalRevenue}</td>\n      <td>${totalLeads}</td>\n      <td>$${CAC}</td>\n      <td>${ROI}%</td>\n      <td>${conversionRate}%</td>\n    </tr>`;\n\n  return {\n    json: {\n      campaign_name: s.campaign_name,\n      channel: s.channel,\n      status: s.status,\n      budget_allocated: s.budget_allocated,\n      total_spent: totalSpent,\n      total_revenue: totalRevenue,\n      total_leads: totalLeads,\n      avg_lead_quality: avgQuality.toFixed(2),\n      CAC: CAC,\n      ROI: `${ROI}%`,\n      conversion_rate: `${conversionRate}%`\n    }\n  };\n});\n\nconst emailHTML = `\n<h2 style=\"color:#003087\">TDK Marketing Intelligence Report</h2>\n<p>Generated: ${new Date().toISOString().split('T')[0]}</p>\n<table border=\"1\" cellpadding=\"8\" style=\"border-collapse:collapse; width:100%\">\n  <tr style=\"background:#003087; color:white;\">\n    <th>Campaign</th>\n    <th>Channel</th>\n    <th>Status</th>\n    <th>Budget</th>\n    <th>Spent</th>\n    <th>Revenue</th>\n    <th>Leads</th>\n    <th>CAC</th>\n    <th>ROI</th>\n    <th>Conv. Rate</th>\n  </tr>\n  ${tableRows}\n</table>\n<br>\n<p style=\"color:gray; font-size:12px\">Auto-generated by TDK Marketing Intelligence Workflow | n8n</p>\n`;\n\nresults[0].json.emailHTML = emailHTML;\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 0],
      "id": "6250ebb8-4b55-4014-95bb-dd1d20024bbb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=TDK Marketing Intelligence Report - {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "={{ $('Code in JavaScript').first().json.emailHTML }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [832, 0],
      "id": "542a241c-0641-4503-a1b6-d8bd74456302",
      "name": "Send a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Execute a SQL query", "type": "main", "index": 0}]]
    },
    "Execute a SQL query": {
      "main": [[{"node": "Execute a SQL query1", "type": "main", "index": 0}]]
    },
    "Execute a SQL query1": {
      "main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "Send a message", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "tags": []
}
